.faqs-section {
  h2 {
    margin: 0;
  }

  &-title {
    font: var(--saf-type-heading-default-xl-strong-standard);
    color: var(--saf-color-text-heavy);
  }

  .question {
    font: var(--saf-type-body-default-md-strong-standard);
    color: var(--saf-color-text-heavy);
  }

  .answer {
    margin: 0;
    font: var(--saf-type-body-default-md-regular-standard);
    color: var(--saf-color-text-strong);
  }
}
