.content-list-title {
  font: var(--saf-type-body-default-md-strong-standard);
  color: var(--saf-color-text-heavy);
}

.content-list-content {
  margin-left: 0;
  font: var(--saf-type-body-default-md-regular-standard);
  color: var(--saf-color-text-strong);
}
