.content-description {
  a {
    color: var(--saf-color-anchor-default);
    font-family: var(--saf-type-body-default-md-regular-standard);
    outline: none;
    --saf-anchor-icon-margin: 0;
  }
  font: var(--saf-type-body-default-md-regular-standard);
  color: var(--saf-color-text-strong);
  max-width: 850px;
}

.shorter {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
